**/data/
swarm.key
src/filechain/mix/config
certsICA/
msp/
crypto-config/
channel-artifacts/
src/hyperledger/log.txt
src/hyperledger/channel1.block
src/hyperledger/simple-contract.tar.gz
src/hyperledger/test.txt
src/hyperledger/text.txt
src/hyperledger/chaincodes/chaincode_example02/contract-tutorial
src/hyperledger/chaincodes/chaincode_example02/vendor
src/hyperledger/channel-artifacts/*
src/hyperledger/crypto-config/*