**/data/
swarm.key
src/filechain/mix/config
certsICA/
msp/
crypto-config/
channel-artifacts/
src/hyperledger/log.txt
src/hyperledger/channel1.block
src/hyperledger/adminConfig-contract.tar.gz
src/hyperledger/file-contract.tar.gz
src/hyperledger/test.txt
src/hyperledger/text.txt
src/hyperledger/channel-artifacts/*
src/hyperledger/crypto-config/*